/* Icon */
IDI_ICON1 ICON "wi.ico"

/* Info */
1 VERSIONINFO FILEVERSION 7,4,3,0 PRODUCTVERSION 7,4,3,0 {
    BLOCK "StringFileInfo" {
        BLOCK "040904B0" {
            VALUE "CompanyName", "cyxigo"
            VALUE "FileDescription", "Wi Programming Language" 
            VALUE "FileVersion", "7.4.3-beta"
            VALUE "InternalName", "wi"
            VALUE "LegalCopyright", "Copyright (C) 2026 cyxigo"
            VALUE "OriginalFilename", "wi.exe"
            VALUE "ProductName", "Wi"
            VALUE "ProductVersion", "7.4.3-beta"
        }
    }
    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x0409, 1200
    }
}
